version: '3.8'

services:
  api:
    build:
      context: TodoApi
      dockerfile: Dockerfile
    ports:
      - "${API_PORT}:8080"
    volumes:
      - ./TodoApi:/TodoApi
      - ./TodoApi.Tests:/TodoApi.Tests
      - /TodoApi/bin
      - /TodoApi/obj
      - /TodoApi.Tests/bin
      - /TodoApi.Tests/obj
    env_file:
      - .env
    environment:
      - ConnectionStrings__DefaultConnection=Host=${DB_HOST};Port=${DB_PORT};Database=${POSTGRES_DB};Username=${POSTGRES_USER};Password=${POSTGRES_PASSWORD}
    depends_on:
      - postgres
    networks:
      - todo-network

  postgres:
    image: postgres:16-alpine
    env_file:
      - .env
    ports:
      - "${DB_PORT}:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data
    networks:
      - todo-network

volumes:
  postgres-data:

networks:
  todo-network:
    driver: bridge
